TODO
lqml
_*
*.a
*.eclrc
*.fas*
*.*history
*.lib
*.o
*.obj
*.so*
*.dylib
*.dll
*.qm
*.stash
*.ts
*.version
*~
*.~
#*.*#
*.user
t.lisp
tr.h
moc_*.cpp
Makefile
Makefile.*
cache
tmp*
qrc_*.cpp
assets
android-build
*.tgz
*.rpm
